<!DOCTYPE html>

<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head th:replace="fragments/head :: head('Post')"></head>-->

<!--<body class="container">-->

<!--<h1>Individual Post</h1>-->
<!--<h2 th:text="${post.title}"></h2>-->
<!--<p th:text="${post.body}"></p>-->

<!--<script th:replace="fragments/scripts :: scripts"></script>-->
<!--</body>-->
<!--</html>-->

<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head th:replace="fragments/head :: head('Post')"></head>-->
<!--<description class="container">-->

    <!--<h1>Individual post</h1>-->
    <!--<h2 th:text="${post.title}"></h2>-->
    <!--<p th:text="${post.description}"></p>-->

    <!--<script th:replace="fragments/scripts :: scripts"></script>-->
<!--</description>-->
<!--</html>-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Post')"></head>

<nav th:replace="fragments/navbar :: navbar"></nav>

<main class="container">
    <h1>Individual post</h1>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>

</html>